.home-container {
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  justify-content: center;
  grid-gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  --stagger-delay: 100ms;
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.topNew-area {
  position: relative;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  animation: cardEntrance 700ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: calc(1 * var(--stagger-delay));
}