.tn-wrap img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  display: block;
}

.type-news {
  background: #FFF602;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 23px;
  position: absolute;
  top: 0;
  left: 0;
}

.type-news p {
  padding: 5px;
}

.info-new-news {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  z-index: 1;
}

.info-new-news::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0%;
  left: 0;
  opacity: 0.8;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  transition: .4s all ease;
  box-sizing: border-box;
  z-index: -1;
}

.content-news {
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.published-date time {
  font-size: 14px;
  font-weight: bold;
  color: #02AFFF;
}